<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssertEx" version="1.0.0" targetFramework="net451" />
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="Common.Logging" version="2.2.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net451" />
  <package id="CompareNETObjects" version="2.01.0.0" targetFramework="net451" />
  <package id="CsvHelper" version="2.5.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net451" />
  <package id="System.Data.SQLite" version="1.0.92.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.92.0" targetFramework="net451" />
  <package id="System.Data.SQLite.EF6" version="1.0.92.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Linq" version="1.0.92.0" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="ZendeskApi_v2" version="2.5.5" targetFramework="net451" />
</packages>